.list {
  padding-top: 0;

  mat-list-item {
    border-bottom: 1px solid #ececec;
    cursor: pointer;
  }

  mat-list-item:hover {
    background-color: #ececec;
  }

  span.info {
    font-size: 12px;
    color: #777;
  }
}