<mat-toolbar class="toolbar" color="primary">
  <mat-icon class="left-icon action" [routerLink]="['/home']">arrow_back</mat-icon>
  
  <span>
    <span *ngFor="let member of members | async">
      {{member.name}}
    </span>
  </span>

  <span class="spacer"></span>

  <mat-icon class="action" (click)="delete()">delete</mat-icon>
</mat-toolbar>

<div class="container">
  <app-message-list [messages]="messages | async"></app-message-list>
  <app-new-message (message)="onMessage($event)"></app-new-message>
</div>
