<md-toolbar class="toolbar" color="primary">
  <md-icon class="left-icon action" [routerLink]="['/home']">arrow_back</md-icon>
  
  <span>
    <span *ngFor="let member of members | async">
      {{member.name}}
    </span>
  </span>

  <span class="spacer"></span>

  <md-icon class="action" (click)="delete()">delete</md-icon>
</md-toolbar>

<div class="container">
  <app-message-list [messages]="messages | async"></app-message-list>
  <app-new-message (message)="onMessage($event)"></app-new-message>
</div>
