<mat-toolbar class="toolbar" color="primary">
  <span class="padding-left">WhatsApp</span>
  
  <span class="spacer"></span>
    
  <mat-icon class="action-icon">search</mat-icon>
  <mat-icon class="action-icon" [routerLink]="['/new']">chat</mat-icon>
  <mat-icon class="action-icon padding-right" [matMenuTriggerFor]="menu">more_vert</mat-icon>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
  
  <mat-toolbar-row class="nav">
    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFill>
      <a mat-button
        fxFlex
        *ngFor="let link of links"
        [routerLink]="link"
        routerLinkActive #rla="routerLinkActive"
        [class.active]="rla.isActive">
        {{link}}
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
