@import '../shared/toolbar';

.toolbar {
  padding: 0;
}

.nav {
  height: 50px;

  a {
    border-bottom: 3px solid #005c4f;
    border-radius: 0;
    line-height: 47px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    letter-spacing: 1px;
  }

  a.active {
    border-bottom-color: #fff;
    color: #fff;
  }
}