<md-toolbar class="toolbar" color="primary">
  <span class="padding-left">WhatsApp</span>
  
  <span class="spacer"></span>
    
  <md-icon class="action-icon">search</md-icon>
  <md-icon class="action-icon" [routerLink]="['/new']">chat</md-icon>
  <md-icon class="action-icon padding-right" [mdMenuTriggerFor]="menu">more_vert</md-icon>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="logout()">
      <md-icon>power_settings_new</md-icon>
      <span>Logout</span>
    </button>
  </md-menu>
  
  <md-toolbar-row class="nav">
    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFill>
      <a md-button
        fxFlex
        *ngFor="let link of links"
        [routerLink]="link"
        routerLinkActive #rla="routerLinkActive"
        [class.active]="rla.isActive">
        {{link}}
      </a>
    </div>
  </md-toolbar-row>
</md-toolbar>

<router-outlet></router-outlet>
